.section-cta {
  display: flex;
  flex-direction: column;
  background: url("../../../../assets/intersection.webp") center no-repeat fixed;
  background-size: cover;
  background-color: #0f0f0f;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
  z-index: 2;
  min-height: 550px;

  .text-separator {
    margin: 1.5rem 0;
    height: 15px;
    width: auto;
  }
  .cta-input {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;

    p {
      width: 50%;
      font-size: 1.2rem;
    }

    .cta-input-container {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 30px;

      input {
        width: 33%;
        background: rgba($color: #ffffff, $alpha: 1);
        height: 40px;
        padding: 10px;
        text-align: left;
        border-radius: 5px 0 0 5px;
        border: 3px solid white;
        outline: none;
        box-sizing: border-box;
        margin: 0;
      }

      button {
        width: 20%;
        height: 40px;
        color: white;
        outline: none;
        box-sizing: border-box;
        border-radius: 0 5px 5px 0;
        border: none;
        font-weight: 100;
      }

      button:hover {
        background: rgba($color: goldenrod, $alpha: 1);
        color: white;
      }

      button:active {
        background: rgba($color: goldenrod, $alpha: 0.8);
        color: white;
      }
    }
  }

  h1 {
    font-size: 4rem;
    margin: 0;
    color: goldenrod;
    text-align: center;
  }
}

//media query for mobile
@media screen and (max-width: 600px) {
  .section-cta {
    .golden {
      font-size: clamp(3.6rem, 4vw, 3rem);
    }

    .cta-input {
      width: 100%;

      .cta-input-container {
        width: 80%;

        input {
          width: 60%;
        }

        button {
          width: 40%;
        }
      }
    }
  }
}
