.contact-section {
    background: #0f0f0f;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    h1 {
        font-size: 3rem;
        margin: 0;
    }

    .title {
        width: 60%;
        margin: auto;
        margin-bottom: 30px;
    }

    img {
        width: 200px;
    }

    textarea {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    button {
        background: goldenrod;
        font-weight: 900;
        color: rgb(91, 63, 0);
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        width: 100px;
        margin: 40px auto;
    }

    button:hover {
        background: #ff9d00;
        color: #000;
    }

    ::placeholder {
        color: white;
        opacity: 1;

    }

    .info {

        input,
        textarea {
            background: rgba($color: #000000, $alpha: 0.8);
            color: white;
            outline: none;
            border-radius: 5px;
            border: 1px solid rgba(218, 165, 32, 0.409);
        }
    }

    .personal {
        display: flex;
        width: 100%;
        gap: 30px;

        input {
            width: 50%;
        }


    }
}