.costumes-section {
  background: url("../../../../assets/Intersection.png");
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: auto;
  padding: 150px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    line-height: 0.9;
    font-size: 3.2rem;
    margin-bottom: 100px;
    color: goldenrod;

    span {
      font-size: 3.5rem;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      width: 40%;
    }

    .slider {
      display: flex;
      width: 50%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      gap: 100px;
      justify-content: center;

      .lvl {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background: #00000077;
        border: 2px solid goldenrod;
      }

      .lvl::after {
        content: " ";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border: 1px solid #ffea00;
        border-radius: 50%;
      }


      .lvl:hover {
        transform: scale(1.2);
        transition: all 0.2s ease;
      }

    }
  }
}