.section-evolutions {
  background-color: #000;
  background: url('../../../../assets/smokebg2.png') no-repeat center center;
  padding-top: 100px;

  .title {
    line-height: 0.9;
    max-width: 90vh;

    h1 {
      margin: 0px;
      font-size: clamp(3.2rem, 7vw, 5rem);
    }

    h2 {
      font-size: clamp(1.6rem, 4vw, 3rem);
      margin: 0;
    }
  }

  .content {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;
    flex-wrap: wrap;

    .copy {
      width: 40%;
      font-size: 1.5rem;
      min-width: 400px;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      h3 {
        font-style: italic;
      }

      p {
        text-align: left;
        margin: 0;
      }

      .stages {
        border: 1px solid goldenrod;
        margin: 30px 0;
        padding: 5px 30px 15px 30px;
        border-radius: 10px;

        button {
          width: 60px;
          height: 40px;
          border: 1px solid goldenrod;
          border-radius: 5px;
          margin: 10px;
          background-color: rgba(148, 106, 0, 0.2);
          color: goldenrod
        }

        button:hover {
          background-color: rgba(148, 106, 0, 0.5);
        }

        button:active {
          background-color: rgba(148, 106, 0, 0.8);
        }

        h3,
        h5 {
          margin: 10px;
        }
      }
    }

    img {
      width: 40%;
      min-width: 400px;
      background: rgb(255, 199, 88);
      background: radial-gradient(circle,
          rgba(255, 199, 88, 0.456) 0%,
          rgba(255, 247, 227, 0) 70%);
    }
  }
}

//add media queries for mobile
@media (max-width: 880px) {
  .section-evolutions {
    .content {

      .copy {
        width: 80%;
        align-items: center;
        padding: 50px;
      }
    }
  }
}