.evolutions {
  margin-top: -20px;
}
.section-evolutions {
  padding-top: 100px;
  background-color: rgb(18 13 20);
  background-image: url("../../../../assets/fondocomingsoon.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  max-width: 100vw;
  box-sizing: border-box;
  display: flex;
  margin: -120px 0 0 0;
  padding: 3rem 0rem 7rem 0rem;
  height: auto;
  flex-direction: row;
  z-index: 2;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  .title {
    width: max-content;
    font-size: 3.5rem;
    padding-bottom: 15px;
    font-weight: 400;
    text-align: center;
    font-family: "Magic Hat";
    background: rgb(255, 184, 94);
    background: linear-gradient(
      120deg,
      rgba(255, 184, 94, 1) 2%,
      rgba(255, 214, 128, 1) 19%,
      rgba(255, 195, 102, 1) 40%,
      rgba(255, 184, 94, 1) 51%,
      rgba(255, 195, 102, 1) 65%,
      rgba(255, 214, 128, 1) 77%,
      rgba(255, 184, 94, 1) 99%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    span {
      background: rgb(255, 255, 255);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .content {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;
    flex-wrap: wrap;

    .text-separator {
      height: 15px;
      width: auto;
    }
    .relic-evolutions {
      width: 500px;
      height: 500px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto;
      transition: all 0.4s ease;
    }

    .ev1 {
      background-image: url("../../../../assets/relicevolutions.webp");
    }
    .ev2 {
      background-image: url("../../../../assets/relicIcon1.png");
    }
    .ev3 {
      background-image: url("../../../../assets/relicIcon2.png");
    }
    .ev4 {
      background-image: url("../../../../assets/relicIcon3.png");
    }

    .copy {
      width: 40%;
      font-size: 1.5rem;
      min-width: 400px;
      display: flex;
      gap: 50px;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        text-align: left;
        margin: 0;
      }

      .levels {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        gap: 50px;
        .levelsContainer {
          width: 100%;
          padding: 0;
          margin: auto;
          align-items: center;
          justify-content: center;
          list-style: none;
          display: flex;
          gap: 22px;
          flex-direction: row;
          transition: all 0.7s ease;
          position: relative;

          .imgLevel {
            width: 94px;
            height: 64px;
            background: url("../../../../assets/levelSpace.svg") center center
              no-repeat;
            transition: all 0.7s ease;
          }
          li {
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            p {
              position: relative;
            }
            p:after {
              content: "";
              position: absolute;
              width: 0%;
              height: 3px;
              display: block;
              transition: all 0.3s ease;
              border-radius: 3px;
              bottom: -10px;
              left: 0;
            }
          }
          li:hover p::after {
            border-radius: 3px;
            width: 100%;
            height: 3px;
            background-color: rgb(225, 188, 139);
          }

          .selected {
            color: rgb(255, 184, 94);
            font-weight: 700;
            transition: all 0.2s ease;
            .imgLevel {
              background: url("../../../../assets/levelSpaceSelected.svg")
                center center no-repeat;
              height: 63px;
            }
            p::after {
              border-radius: 3px;
              width: 100%;
              height: 3px;
              background-color: rgb(225, 188, 139);
            }
          }

          img {
            position: absolute;
            top: 16px;
          }
        }
      }
    }
  }
}

//add media queries for mobile
@media (max-width: 880px) {
  .section-evolutions {
    .content {
      .copy {
        width: 80%;
        align-items: center;
        padding: 50px;
      }
    }
  }
}
