form {
  display: flex;
  flex-direction: column;
  color: white;

  input {
    padding: 10px 20px;
    margin-bottom: 25px;
    border-radius: 5px;
    outline: none;
  }

  .error {
    border: 2px solid red;
  }
}
