.section-about {
  display: flex;
  flex-direction: row;
  background: url("../../../../assets/aboutbg.webp") no-repeat center center
    fixed;
  border: none;
  gap: 100px;
  flex-wrap: wrap;
  padding: 80px 0 40px 0;

  .content {
    width: 40%;
    min-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    h1 {
      width: max-content;
      font-size: 3.5rem;
      padding-bottom: 15px;
      font-weight: 400;
      text-align: center;
      font-family: "Magic Hat";
      background: rgb(255, 184, 94);
      background: linear-gradient(
        120deg,
        rgba(255, 184, 94, 1) 2%,
        rgba(255, 214, 128, 1) 19%,
        rgba(255, 195, 102, 1) 40%,
        rgba(255, 184, 94, 1) 51%,
        rgba(255, 195, 102, 1) 65%,
        rgba(255, 214, 128, 1) 77%,
        rgba(255, 184, 94, 1) 99%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      span {
        background: rgb(255, 255, 255);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    p {
      font-size: 1.5rem;
      text-align: left;
      font-weight: 400;
    }
  }

  img {
    width: 30%;
    min-width: 400px;
    border: 2px solid rgb(255, 216, 118);
    border-radius: 10px;
  }

  .text-separator {
    border: none;
    height: 20px;
    margin-top: -20px;
    margin-bottom: 30px;
    width: auto;
  }
}

//media query for mobile
@media screen and (max-width: 750px) {
  .section-about {
    .content {
      h1 {
        width: 100%;
        font-size: 2.5rem;
        text-align: center;
      }

      p {
        width: 80%;
        margin: 50px auto;
      }
    }
  }
}
