.section-comingsoon {
  background: #120d14;
  background: url("../../../../assets/fondocomingsoon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  max-width: 100vw;
  box-sizing: border-box;
  display: flex;
  margin: -120px 0;
  padding: 3rem 2rem 7rem 2rem;
  height: auto;
  flex-direction: row;
  z-index: 10;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;

  .comingsoon-img {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      min-width: 500px;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
    }
  }

  .content {
    // max-width: 100vw;
    flex: 0 0 50%;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;

    h1,
    h2,
    h3 {
      margin: 0;
    }

    h2 {
      font-weight: 400;
      font-size: clamp(2rem, 4vw, 7rem);
      color: rgb(255, 213, 107);
    }

    h4 {
      font-weight: 500;
      font-size: clamp(1rem, 1.8vw, 3.8rem);
    }

    .daystop {
      margin: 1rem;
      position: relative;
    }

    .top {
      color: rgb(255, 213, 107);
      font-family: "Magic Hat";
      background: rgb(255, 184, 94);
      background: linear-gradient(
        120deg,
        rgba(255, 184, 94, 1) 2%,
        rgba(255, 214, 128, 1) 19%,
        rgba(255, 195, 102, 1) 40%,
        rgba(255, 184, 94, 1) 51%,
        rgba(255, 195, 102, 1) 65%,
        rgba(255, 214, 128, 1) 77%,
        rgba(255, 184, 94, 1) 99%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3.2rem;
      font-weight: 400;
    }
    .days {
      position: absolute;
      color: white;
      top: 0;
      left: 90px;
      z-index: 10;
    }

    .text-separator {
      height: 13px;
      width: auto;
      margin: 1rem;
    }

    .silver {
      font-family: "Magic Hat";
      font-size: clamp(2.3rem, 2.5vw, 3.5rem);
      background: rgb(132, 158, 167);
      background: linear-gradient(
        159deg,
        rgba(132, 158, 167, 1) 1%,
        rgba(201, 213, 215, 1) 20%,
        rgba(217, 235, 240, 1) 44%,
        rgba(201, 213, 215, 1) 67%,
        rgba(132, 158, 167, 1) 97%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .clock-border-wrap {
      max-width: 500px;
      padding: 1rem;
      margin: 1rem;
      position: relative;
      background: rgb(255, 201, 89);
      background: linear-gradient(
        180deg,
        rgba(255, 201, 89, 1) 1%,
        rgba(222, 122, 29, 1) 37%,
        rgba(154, 69, 0, 1) 81%,
        rgba(154, 69, 0, 1) 100%
      );
      padding: 3px;
      border-radius: 0 0 10px 10px;
    }

    .clock {
      display: flex;
      justify-content: center;
      background: rgb(25 18 28);
      align-items: center;
      border-radius: 0 0 10px 10px;
      padding: 1rem;
      font-size: 3rem;
      gap: 20px;
      span {
        font-weight: 500;
        margin-bottom: 20px;
      }
    }

    button {
      padding: 5px;
      width: 150px;
      height: 40px;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-family: "Open Sans";
      font-size: 0.9rem;
      background: none;
      border: 2px solid rgb(255, 184, 94);
      outline: none;
      color: rgb(255, 184, 94);
      margin: 0;
      border-radius: 10px;
      margin-left: 20px;
      transition: all 0.1s ease;
    }

    button:hover {
      border: 1px solid rgba(154, 69, 0, 1);
      font-weight: 700;
      background: rgb(255, 184, 94);
      background: linear-gradient(
        120deg,
        rgba(255, 184, 94, 1) 2%,
        rgba(255, 214, 128, 1) 19%,
        rgba(255, 195, 102, 1) 40%,
        rgba(255, 184, 94, 1) 51%,
        rgba(255, 195, 102, 1) 65%,
        rgba(255, 214, 128, 1) 77%,
        rgba(255, 184, 94, 1) 99%
      );
      color: rgba(154, 69, 0, 1);
    }

    span {
      font-size: 1rem;
      margin: 0;
    }
  }

  .floating-items {
    width: 100%;
  }
}
