.section-team {
  padding: 100px 0px;
  background-color: #120d14;
  margin-top: -70px;
  .title {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    h1 {
      font-size: 4rem;
      margin: 0;
    }

    p {
      width: 70%;
    }

    .text-separator {
      height: 15px;
      width: auto;
    }

    .companies {
      display: flex;
      width: 70%;
      justify-content: center;
      gap: 50px;
      img {
        width: 300px;
        height: auto;
        filter: saturate(0);
      }
      img:hover {
        filter: opacity(1) brightness(1.1);
      }
    }
  }

  .slider {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 100px;
  }
}
