.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

main {
  display: flex;
  flex-direction: column;
  place-content: center;
  background-color: black;
  place-items: center;
  color: white;
}

.golden {
  background: linear-gradient(
    0deg,
    rgb(255, 151, 15) 0%,
    rgba(255, 251, 241, 0.858) 41%,
    rgb(255, 166, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.goldenButton {
  background: linear-gradient(
    0deg,
    rgb(255, 176, 73) 0%,
    rgba(255, 251, 241, 0.9) 41%,
    rgb(255, 199, 94) 100%
  ) !important;
  color: rgb(180, 112, 3) !important;
  font-weight: 900 !important;
}

.separator {
  max-width: 100%;
  position: relative;
  margin-top: 0;
  top: calc(3vw - 100px);
}

section {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0c0c0c;
  width: 100%;
  place-content: center;
  place-items: center;
  h1 {
    text-align: center;
  }
}

button {
  cursor: pointer;
}
