.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

main {
  display: flex;
  flex-direction: column;
  place-content: center;
  background-color: black;
  place-items: center;
  color: white;
}

.golden {
  font-family: "Magic Hat";
  background: rgb(255, 184, 94);
  background: linear-gradient(
    120deg,
    rgba(255, 184, 94, 1) 2%,
    rgba(255, 214, 128, 1) 19%,
    rgba(255, 195, 102, 1) 40%,
    rgba(255, 184, 94, 1) 51%,
    rgba(255, 195, 102, 1) 65%,
    rgba(255, 214, 128, 1) 77%,
    rgba(255, 184, 94, 1) 99%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.goldenButton {
  background: linear-gradient(
    120deg,
    rgba(255, 184, 94, 1) 2%,
    rgba(255, 214, 128, 1) 19%,
    rgba(255, 195, 102, 1) 40%,
    rgba(255, 184, 94, 1) 51%,
    rgba(255, 195, 102, 1) 65%,
    rgba(255, 214, 128, 1) 77%,
    rgba(255, 184, 94, 1) 99%
  ) !important;
  color: rgb(180, 112, 3) !important;
  font-weight: 900 !important;
}

.separator {
  width: 100%;
  position: relative;
  margin-top: 0;
  z-index: 30;
  top: calc(2.8vw - 6rem) !important;
}

section {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0c0c0c;
  width: 100%;
  place-content: center;
  place-items: center;
  h1 {
    text-align: center;
  }
}

button {
  cursor: pointer;
}

.alert-success {
  background: #00000000 url("../../assets/alertSuccess.webp") !important;
  background-size: contain !important;
  min-height: max-content !important;
  padding-left: 50px !important;
  box-shadow: none !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  color: #fff;
  .container {
    padding-left: 10px !important;
    font-size: 0.8rem !important;
    margin-top: 0 !important;
    margin: 0 !important;
  }
  .title {
    padding-left: 10px !important;
    font-size: 0.8rem !important;
    color: rgb(255, 184, 94) !important;
    margin: 0 !important;
    margin-top: 0.7rem !important;
  }
}

.alert-error {
  background: #00000000 url("../../assets/alertError.webp") !important;
  background-size: contain !important;
  min-height: max-content !important;
  padding-left: 50px !important;
  box-shadow: none !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  color: #fff;
  .container {
    padding-left: 10px !important;
    font-size: 0.8rem !important;
    margin-top: 0 !important;
    margin: 0 !important;
  }
  .title {
    padding-left: 10px !important;
    font-size: 0.8rem !important;
    color: rgb(255, 184, 94) !important;
    margin: 0 !important;
    margin-top: 0.7rem !important;
  }
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1; // hide images
  content: url("../../assets/alertError.webp")
    url("../../assets/alertSuccess.webp"); // load images
}
