.section-coffers {
  background-color: rgb(255, 255, 255);
  background: url("../../../../assets/coffersBg.png") no-repeat center center;
  background-size: cover;
  place-content: center;
  margin: -120px 0px;
  z-index: 2;
  padding: 150px 0;

  .content {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;

    img {
      width: 50%;
      height: auto;
    }

    h1 {
      text-align: center;
      font-size: 4rem;
      margin: 0;
      font-family: "Magic Hat";
      color: black;
    }

    p {
      color: black;
      font-size: 1.2rem;
      font-weight: 500;
      margin: 0;
    }

    .text-separator {
      height: 18px;
      width: auto;
      margin-bottom: 30px;
    }

    .coffers {
      display: flex;
      gap: 50px;
      flex-wrap: wrap;
      justify-content: center;

      .coffer {
        background: rgb(255, 255, 255);
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 1) 60%,
          rgba(255, 255, 255, 0) 85%
        );
        padding: 2rem 1rem;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: max-content;
        min-height: 300px;
        width: 250px;
        gap: 30px;
        flex-direction: column;

        .coffer-img {
          width: 200px;
          height: auto;
          filter: brightness(0.9);
        }

        .pill {
          width: 25px;
          height: auto;
        }

        img:hover {
          filter: brightness(1.3);
        }
        h2 {
          color: black;
          font-weight: 300;
          font-family: "Magic Hat";
        }

        button {
          outline: none;
          border: 2px solid #5e3704;
          font-family: "Open Sans";
          font-weight: 600 !important;
          font-size: 1rem;
          border-radius: 15px;
          padding: 5px 15px;
          color: #5e3704 !important;
        }
      }
    }
  }
}
