.section-coffers {
  background: rgb(0, 0, 0, 1);
  background: url('../../../../assets/rasgado2.png') no-repeat center center;
  background-size: cover;
  place-content: center;
  margin: -50px 0px;
  z-index: 2;
  padding: 100px 0;

  .background {
    width: 100vw;
    height: auto;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    filter: brightness(0.2);
    background-position: center;
    background-size: cover;
    height: 100%;
    z-index: -1;
  }

  .main {
    display: flex;
    grid-column: 1 / -1;
    height: auto;
    grid-row: 1 / -1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    img {
      width: 50%;
      height: auto;
    }

    h1 {
      text-align: center;
      font-size: 5rem;
      margin-top: 0;
    }

    .videos {
      display: flex;
      gap: 50px;
      flex-wrap: wrap;
      justify-content: center;

      img {
        width: 250px;
        height: 250px;
        border-radius: 15px;
        border: 2px solid goldenrod;
        filter: brightness(0.9);
      }

      img:hover {
        filter: brightness(1.3);
      }

      .coffer {
        h2 {
          font-style: italic;
        }
      }
    }
  }
}