footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 40px;
  padding-top: 30px;
  width: 100%;
  overflow: hidden;
  background: #070e14;

  .links {
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    .social {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      place-content: center;
      img {
        width: 40px;
        height: auto;
      }
      img:hover {
        filter: brightness(0.8);
      }
    }

    .logo-container {
      // min-width: 300px;
      .logo {
        width: 150px;
        height: auto;
      }
    }

    .companies {
      display: flex;
      // min-width: 300px;
      gap: 20px;
      img {
        width: auto;
        height: 42px;
      }
    }
  }

  .copy {
    width: 80%;
    margin: 0px 50px;
    margin-bottom: 10px;
    box-sizing: border-box;
    small {
      color: rgb(156, 156, 156);
    }
  }

  .hi-manikin {
    position: absolute;
    width: 200px;
    height: auto;
    right: 0;
    bottom: 0;
    transform: rotateY(180deg);
  }
}

@media (max-width: 900px) {
  footer {
    .links {
      justify-content: center;
      gap: 50px;
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));

      .social {
        display: flex;
        flex-wrap: wrap;
        place-content: center;
      }
    }
    .hi-manikin {
      position: absolute;
      width: 200px;
      height: auto;
      left: -80px;
      top: 0;
      transform: rotateY(360deg) rotateZ(30deg);
    }
  }
}
