header {
  background: #272626aa;
  backdrop-filter: blur(10px);
  height: 75px;
  width: 100%;
  z-index: 1000;
  position: fixed;
  opacity: 1;
  transition: opacity 0.2s ease;
}

nav {
  height: 100%;
  display: flex;
  width: 100%;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  .logo {
    width: 35px;
    height: auto;
  }
  .logo:hover {
    transform: scale(1.1);
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.4s ease;
    box-sizing: border-box;
    li {
      list-style: none;
      min-width: 30px;
      transition: all 0.4s ease;
      padding: 10px;
      box-sizing: border-box;
      a {
        text-decoration: none;
        color: white;
        // padding: 0 1rem;
        min-width: fit-content;
        margin: 0 1rem;
        padding-bottom: 1.2rem;
      }
    }
    li:hover a {
      border-bottom: 3px solid rgb(225, 188, 139);
      font-weight: 500;
    }
    .socials {
      width: 8rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      svg {
        width: 25px;
        height: auto;
        path {
          fill: white;
        }
      }
      svg:hover {
        path {
          fill: rgb(248, 220, 151);
        }
      }
    }
  }

  .register {
    padding: 5px;
    width: 105px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 500;
    font-size: 32;
    background-color: rgb(225, 188, 139);
    border: 2px solid rgb(93, 53, 0);
    outline: none;
    color: rgb(93, 53, 0);
    margin: 0;
    border-radius: 15px;
  }
  .register:hover {
    border: 1px solid white;
    font-weight: 700;
  }
}

.hidden {
  opacity: 0;
}
