header {
  background: rgba(13, 17, 26, 0.67);
  backdrop-filter: blur(10px);
  height: 75px;
  width: 100%;
  z-index: 1000;
  position: fixed;
  opacity: 1;
  transition: opacity 0.2s ease;
}

nav {
  height: 100%;
  display: flex;
  width: 100%;
  position: relative;
  font-family: "Open Sans";
  font-weight: 100;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  .logo {
    width: 35px;
    height: auto;
    cursor: pointer;
  }
  .logo:hover {
    transform: scale(1.1);
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.4s ease;
    box-sizing: border-box;
    li {
      list-style: none;
      min-width: 30px;
      transition: all 0.4s ease;
      padding: 10px;
      box-sizing: border-box;
      position: relative;
      a {
        text-decoration: none;
        color: rgb(191, 191, 191);
        // padding: 0 1rem;
        min-width: fit-content;
        font-weight: 500;
        margin: 0 1rem;
        box-sizing: border-box;
        padding: 5px;
        width: 35px;
        padding-bottom: 1.2rem;
      }
    }
    .nav-link:after {
      content: "";
      position: absolute;
      width: 0%;
      height: 2.2px;
      display: block;
      transition: all 0.3s ease;
      border-radius: 3px;
      bottom: 0;
      left: 20px;
    }
    .nav-link:hover::after {
      border-radius: 3px;
      width: 70%;
      height: 2.2px;
      background-color: rgb(225, 188, 139);
    }
    .nav-link:hover a {
      color: white;
      font-weight: 500;
    }

    .socials {
      width: 8rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      svg {
        width: 25px;
        height: auto;
        path {
          fill: white;
        }
      }
      svg:hover {
        cursor: pointer;
        path {
          fill: #ffc858;
        }
      }
    }
  }

  .register {
    padding: 5px;
    width: 105px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-family: "Open Sans";
    font-size: 0.9rem;
    background: rgb(255, 184, 94);
    background: linear-gradient(
      120deg,
      rgba(255, 184, 94, 1) 2%,
      rgba(255, 214, 128, 1) 19%,
      rgba(255, 195, 102, 1) 40%,
      rgba(255, 184, 94, 1) 51%,
      rgba(255, 195, 102, 1) 65%,
      rgba(255, 214, 128, 1) 77%,
      rgba(255, 184, 94, 1) 99%
    );
    border: 2px solid rgb(93, 53, 0);
    outline: none;
    color: rgb(93, 53, 0);
    margin: 0;
    border-radius: 15px;
    margin-left: 20px;
    transition: all 0.1s ease;
  }
  .register:after {
    content: "";
    position: absolute;
    padding: 5px;
    width: 96px;
    height: 15px;
    display: block;
    transition: all 0.2s ease;
    border-radius: 15px;
    bottom: 14px;
    left: 4px;
    margin-left: 25px;
  }
  .register:hover::after {
    border: 1px solid #fff7d0;
  }
  .register:hover {
    // border: 1px solid white;
    font-weight: 700;
  }
}

.hidden {
  opacity: 0;
}
