.section-arena {
  display: flex;
  flex-direction: row;
  background: rgba($color: #002b3b, $alpha: 1);
  border: none;
  gap: 100px;
  .content {
    width: 40%;
    text-align: left;
    color: white;
    h1 {
      width: 100%;
      font-size: 3rem;
      text-align: left;
    }
  }
  img {
    width: 30%;
  }
}
