.section-evolutions {
  background: #000;
  h1 {
    font-size: 3rem;
    margin-bottom: -10px;
    line-height: 0.9;
    span {
      font-size: 5.5rem;
    }
  }

  .content {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;

    .copy {
      width: 40%;
    }
    img {
      width: 30%;
    }
  }
}
