.section-register {
  background: rgba($color: #000000, $alpha: 1);
  display: grid;
  color: white;
  min-height: 60vh;
  border: none;
  h1 {
    font-size: 3rem;
  }
  input {
    padding: 10px 20px;
    border: 1px solid rgb(14, 150, 241);
    background: #00000000;
    border-radius: 15px;
  }
}
