.section-roadmap {
  background-color: rgb(255, 255, 255);
  background: url("../../../../assets/coffersBg.png") no-repeat center center;
  background-size: cover;
  place-content: center;
  margin: -150px 0px -50px 0px;
  z-index: 2;
  padding: 100px 0px 70px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  min-height: 600px;
  .content {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 5vw;
    position: relative;
    float: right;

    h1 {
      font-size: 3.2rem;
      font-weight: 500;
      color: black;
      font-family: "Magic Hat";
    }
  }
  .roadmap {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      position: relative;
      margin: auto;
      margin-top: 67px;
    }
    ul {
      min-height: 500px;
      margin-top: 30px;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 80px;
      li {
        gap: 50px;
        justify-content: center;
        min-height: 50px;
        color: black;
        list-style: none;
        width: 250px;
        text-align: left;
      }
      span {
        display: inline;
        font-weight: 900;
      }
    }
  }
  .hi-manikin {
    max-width: 700px;
    width: 50vw;
    align-self: flex-end;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 100;
  }
}

@media (max-width: 880px) {
}
