.section-nfts {
  background-color: #000405f8;
  background: url('../../../../assets/smokebg.png') no-repeat center center;
  display: flex;
  width: 100%;
  flex-direction: column;

  .title {
    margin-bottom: 50px;

    p {
      font-size: 2rem;
    }

    h1 {
      margin-bottom: 0;
    }
  }

  .interaction {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    gap: 80px;
    align-items: center;

    .cards {
      width: 50%;
      min-width: 500px;
      gap: 50px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      img {
        width: 160px;
      }
    }

    .character {
      img {
        min-width: 350px;
        width: 40%;
      }
    }
  }

  h1 {
    font-size: 6rem;
    color: white;
  }
}