.section-nfts {
  background-color: #120d14;
  background-size: cover;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 180px 0;
  margin-top: -120px;
  z-index: 0;

  .title {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

    h1 {
      line-height: 1.1;
      font-size: 3rem;
      margin-bottom: 10px;
      color: white;
      font-family: "Magic Hat";

      span {
        color: goldenrod !important;
        font-size: 3.5rem;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: row;
    place-content: center;
    flex-wrap: wrap;
    place-items: center;
    gap: 10%;
    .selectors {
      display: flex;
      width: 40%;
      min-width: 400px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .builds {
        display: flex;
        justify-content: center;
        gap: 30px;
        align-items: center;
        .build {
          height: 300px;
          transition: all 0.2s ease;
          width: 120px;
          filter: brightness(0.8);
          filter: grayscale(1);
        }
        .build:hover {
          cursor: pointer;
          filter: brightness(1.1) grayscale(1);
        }
        .build.selected {
          filter: grayscale(0);
        }
      }

      h2 {
        margin: 4rem 0 3rem 0;
      }

      p {
        font-size: 1.3rem;
        margin-top: 50px;
        width: 70%;
        span {
          font-weight: 700;
          color: #f9e694;
        }
      }
      .relics {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
        .relic {
          height: 80px;
          width: 70px;
          border-radius: 50%;
          filter: brightness(0.8);
        }
        .relic:hover {
          cursor: pointer;
          filter: brightness(1.1);
        }
      }
    }

    .platform-container {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 400px;
      .pose {
        width: 120%;
        height: auto;
        transition: all 0.2s ease;
        max-width: 900px;
        margin-bottom: -100px;
      }
      .platform {
        width: 70%;
        height: auto;
        max-width: 500px;
        z-index: -1;
      }
    }
  }
}

@media (max-width: 880px) {
  .separator-roadmap {
    top: -120px;
  }

  .pose {
    margin-bottom: -80px !important;
  }
}
