body {
  margin: 0;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Magic Hat";
  src: url("./assets/fonts/MagicHat.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Magic Hat Italic";
  src: url("./assets/fonts/MagicHatItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}
